body {
    font-family: 'Cantarell', sans-serif;
    position: relative;
    padding-top: 100px;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Fjalla One', sans-serif; 
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 20px;
}

p {
    font-size: 16px;
}
.navbar-default {
    background-color: #FFE51E;
}
.navbar-brand {
    height: 100px;
}
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

@media (max-width: 768px) {
    body{
        padding-top: 50px    
    }
    .navbar-brand img{
        width:100px;
    }
    .navbar-brand {
        height: 50px;
    }
    .navbar-nav li a {
        line-height: 50px;
        height: 50px;
        padding-top: 0;
    }
}