body {
    font-family: 'Cantarell', sans-serif;
    position: relative;
    padding-top: 100px;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Luckiest+Guy', sans-serif; 
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 20px;
}

p {
    font-size: 16px;
}
p a {
    text-decoration: underline;
    color: #000000;
}
p a:hover {
    text-decoration: none;
    color: #000000;
}
.mainParagraph {
    line-height: 72px;
    margin-top: 30px;
}
.navbar-default {
    background-color: #ffff66;
}
.navbar-brand {
    height: 100px;
}
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

@media (max-width: 768px) {
    body{
        padding-top: 50px    
    }
    .navbar-brand img{
        width:100px;
    }
    .navbar-brand {
        height: 50px;
    }
    .navbar-nav li a {
        line-height: 50px;
        height: 50px;
        padding-top: 0;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFF66;    
}
.navbar-default .navbar-toggle {
 
    background-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #222222;
}

/* Sarcastic font usage */
.thirty{
    font-size: 30px;
}
.fourty{
    font-size: 40px;   
}
.fifty{
    font-size: 50px;   
}
.seventyTwo{
    font-size: 72px;   
}
.oneHundred{
    font-size: 100px;   
}
.oneHundredTwenty{
    font-size: 120px;   
}
.oneHundredFifty{
    font-size: 150px;   
}
/* Sarcastic font usage for small viewport */
@media (max-width: 768px) {
.thirty{
    font-size: 15px;
}
.fourty{
    font-size: 20px;   
}
.fifty{
    font-size: 25px;   
}
.seventyTwo{
    font-size: 36px;   
}
.oneHundred{
    font-size: 50px;   
}
.oneHundredTwenty{
    font-size: 60px;   
}
.oneHundredFifty{
    font-size: 75px;   
}
}