 <!-- About Section -->
    <section class="success" id="about" style="background-color: #8E8D71">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
<p>Art strives to make the world a better, more inclusive, more accessible place through the use of information technology, project management, and innovative and compassionate leadership.</p>

<p>He has worked with world-class organizations, such as Wikipedia and the University of New Hampshire to deliver cutting-edge, inclusive, technological solutions as well as small businesses, startups, and individuals to realize and actualize goals and objectives.</p> 

<p>Additionally, Art has presented on inclusive technology and web development at several regional and national conferences in recent years and has several presentations and posters to his credit. </p>

<p>Art pursues professional learning opportunities regularly to stay abreast of the most cutting-edge solutions available. He has a bachelor's degree in Fine Art from Parsons School of Design and is currently pursuing an MBA.</p>
             </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>&nbsp;</p>
                    <a href="./img/ArtFrick2017Resume.pdf" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download Resume (pdf)
                    </a>
                </div>
            </div>
        </div>
    </section>
