<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-left" id="jFormSpacer">
				<h2>Contact Art</h2>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<script type="text/javascript" src="https://form.jotform.com/jsform/53127439189160"></script>
				<!-- Modal -->
				<div class="modal fade" id="msgSuccessfullySent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-sm" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #{{ site.color.secondary-dark }}">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Thank you!</h4>
				      </div>
				      <div class="modal-body">
				      <p>Thank you for contacting Art. He'll get back to you as soon as he can!</p>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>			
						</div>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- END Modal -->

			</div>
		</div>
	</div>
</section>

